body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #e9f5ec;
  color: #043513;
}

header {
  background: #ffffffaa;
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 80px;
}

nav button {
  margin: 0 10px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  background: #00c853;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

nav button:hover {
  background: #009e42;
}

.center-content {
  text-align: center;
  margin-top: 100px;
}

input[type="file"] {
  margin-top: 20px;
}
